html,body {
	font-family: "Lato";
	background-image: url('./3.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	min-height: 100vh;
}

.header{
	display: flex;
	padding-top: 60px;
	justify-content: center;
}
.cloud{
	text-align: center;
	width: 24.7px;
	height: 17.4px;
}
.budget{
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
padding-left: 10px;
text-transform: uppercase;
align-items: center;

color: #FFFFFF;
}
.menu{
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
align-items: center;
text-transform: uppercase;
padding-left: 161px;
color: #FFFFFF;
}
.name{
	padding-left: 21px;
}
.usa{
	padding-left: 114px;
}
.lg{
	font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
align-items: center;
text-transform: uppercase;
padding-left: 12px;
padding-top: 7px;
color: #FFFFFF;
}
.down{
	padding-top: 13px;
	padding-left: 8px;
}
.log{
margin-left: 29px;
padding-bottom: 12px;
padding-left: 28px;
padding-right: 29px;
padding-top: 11px;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
background-color: transparent;
text-transform: uppercase;
border-color: white;
border: 1px solid;
border-radius: 5px;
color: #FFFFFF;
margin-top: -5px;
}
.head{
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 86px;
text-align: center;
align-items: center;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #FFFFFF;

margin-top: 177px;
}
.text{
	font-family: Lato;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
margin-left: 450px;
margin-right: 450px;
text-align: center;
color: #FFFFFF;
padding-top: 39px;
}
.sign{
background: #FFFFFF;
border-radius: 6px;
font-family: Lato;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
text-transform: uppercase;
border: none;
color: #ED4C5C;
padding-bottom: 16px;
	padding-left: 52px;
	padding-right: 53px;
	padding-top: 17px;
	margin-top: 39px;
	
	
}
.button{
	display: flex;
	justify-content: center;
}
a {color: white;
	text-decoration: none;}
a:hover {
  color: black; 
  border-bottom: none;
}
